@charset "UTF-8";

.header {
  height: 40px;
  width: 100%;
  background-color: rgb(4, 227, 4);
}

.main {
  height: 300px;
  width: 300px;
  background-color: blue;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  top: 1000px;
  transform: translateX(0);
  transition: 1s;
}

.js-fade {
  background-color: rgb(241, 166, 166);
  transform: translateX(300px);
  transition: 1s;
  opacity: 1;
}
